* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* .row::after {
  content: "";
  clear: both;
  display: block;
} */

.row::after{
  content: '';
  display: table;
  /* overflow: hidden; */
  clear: both;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* html {
  font-family: "Lucida Sans", sans-serif;
} */

body{
  height: 138vh;
  max-width: 100vw;
  background-image: url(img/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

}

.layover-body{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
}

.header{
  background-color: rgba(0,0,0,0.85);
  color: #ffffff;
  padding: 0px 0px 0px 30px;
  height: 10vh;
  width: 100%;
}

.header-home-link > a{
  text-decoration: none;
}

.header img, .header h1{
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: 10vh;
  width: 130px;
}

.row{
  margin-top: 25px;
  width: 100%;
}

.slideshow-all{
  margin-bottom: 40px;
}

.menu ul > a{
  text-decoration: none;
  position: absolute;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {

  padding: 8px;
  margin-bottom: 7px;
  background-color: rgba(50,50,50,0.8);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: rgba(80,80,80,0.8);
}

.aside {
  background-color: rgba(50,50,50,0.8);
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.layover{
  padding: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.col-6{
  color: white;
}

.col-3.right{
  margin-bottom: 30px;
}

/* .col-3.menu{
  margin-top: 70px;
} */

.layover > h1{
  text-align: center;
  margin-bottom: 25px;
}

.layover > p{
  margin-top: 20px;
}

.promotion{
  width: 94%;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin: auto;
  margin-bottom: 105px;
  text-align: center;
}

.footer {
  height: 8%;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  position: fixed;
  bottom: 0;
}

.footer-texts{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* For desktop: */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* qui inizia lo slide */

/* .slideshow-all{
  width: 100%;
} */

.mySlides {
  display: none;
  width: 100%;
}

.mySlades.fade img {
  vertical-align: middle;
}

.photoitem{
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  width: 65%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-position{
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* @media only screen and (max-width: 768px) { */
@media only screen and (max-width: 500px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
